/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #f8f8ff;
}
.media {
  background-color: #788288;
}
.media h5 {
  color: #24201f;
}
.media p {
  color: #24201f;
}
.p-2 {
  color: #24201f;
}

.navbar {
  background-color: #f8f8ff;
  color: white;
}

.navbar li {
  color: grey;
  border-bottom: 2px solid transparent;
}

.navbar li:hover {
  color: rgb(114, 113, 113);
  border-bottom: 2px solid rgb(114, 113, 113);
}
.navbar-toggler {
  color: grey;
}
#mainCont {
  background-color: #d9d9df;
}

.contactCont {
  background-color: #d9d9df;
}

.btn {
  background-color: #404354;
}
